/*
	Hagadol Enterprises Bootstrap Sass Theme

	Author: Charles Muzonzini - chmod-777 or masta_coda - www.webgems.info
	
	Date: February 26th 2015

*/
/*

	(c) 2015 Charles Muzonzini - Webgems - http://webgems.info

*/
/* Global Styles */
html,
body {
  height: 100%; }

body {
  padding-top: 50px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */ }

a {
  color: #449D44; }

.img-portfolio {
  margin-bottom: 30px; }

.img-hover:hover {
  opacity: 0.8; }

/* Home Page Carousel */
header.carousel {
  height: 90%; }

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
  height: 100%; }

header.carousel .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover; }

/* About Page Styles */
.fa {
  color: #449D44; }

.page-header {
  text-align: center; }

/* 404 Page Styles */
.error-404 {
  font-size: 100px; }

/* Pricing Page Styles */
/* Footer Styles */
footer {
  margin: 50px 0; }

/* Responsive Styles */
@media (max-width: 991px) {
  .customer-img,
  .img-related {
    margin-bottom: 30px; } }
@media (max-width: 767px) {
  .img-portfolio {
    margin-bottom: 15px; }

  header.carousel .carousel {
    height: 70%; } }
.colored-carousel-caption h2,
.colored-carousel-caption h4 {
  background-color: #449D44;
  color: #fff;
  display: inline; }

.navbar-inverse {
  background-color: #449D44;
  border-color: transparent; }

.navbar-inverse .navbar-nav > li > a {
  color: #ccc; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: #357935; }

/*# sourceMappingURL=style.css.map */
