/*

	(c) 2015 Charles Muzonzini - Webgems - http://webgems.info

*/

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

a {
	color: $brand-primary;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 90%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* About Page Styles */

.fa {
	color: $brand-primary;
}

.page-header {
	text-align: center; 
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

// .price {
//     display: block;
//     font-size: 50px;
//     line-height: 50px;
// }

// .price sup {
//     top: -20px;
//     left: 2px;
//     font-size: 20px;
// }

// .period {
//     display: block;
//     font-style: italic;
// }

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

.colored-carousel-caption h2,
.colored-carousel-caption h4 {
    background-color: #449D44;
    color: #fff;
    display: inline;
    
}