.navbar-inverse {
	background-color: $brand-primary;
	border-color: transparent;

}

.navbar-inverse .navbar-nav>li>a {
	color: #ccc;
}

 .navbar-brand {
 	
 }

 .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	color: #fff;
	background-color: darken($brand-primary, 10%);
}